langchain
google-generativeai
faiss-cpu
streamlit
pypdf
beautifulsoup4
pillow
unstructured
langchain-community
langchain-google-genai
sentence-transformers
python-dotenv
requests
openpyxl
python-docx
pandas
msoffcrypto-tool
torchvision
langchain-groq
langchain-huggingface
docx2txt
